.title-bar {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #dd4411;
    -fx-font-family: Calibri;
    -fx-font-size: 12;
}

.no-button { -fx-background-color: inherit; }

.link {
    -fx-text-fill: #2aa198;
    -fx-cursor: HAND;
}

.button {
    -fx-cursor: HAND;
}

.red-text { -fx-text-fill: #dd4411; }
.green-text { -fx-text-fill: #00ac41; }
.white-text { -fx-text-fill: white; }
.yellow-text { -fx-text-fill: #FFCC33; }
.grey-text { -fx-text-fill: #575757; }
.grey-text-i { -fx-text-fill: #575757 !important; }

.installer-bg {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: #1e262c;
}

/** friend list css **/

.friend-list-div {
    -fx-end-margin: 5px;
    -fx-start-margin: 5px;
    -fx-border-color: #1e262c;
    -fx-border-radius: 5px;
    -fx-padding: 5px 15px;
}

.no-friends-label {
    -fx-font-size: 17px;
    -fx-text-fill: #2aa198;
}

/** profile css **/

.app-background {
    -fx-background-color: #1e262c;
    -fx-text-fill: white;
}

.white-box {
    -fx-background-color: rgb(244, 248, 249);
    -fx-text-fill: white;
}

.eden-button {
    -fx-background-color:  #FFCC33;
    -fx-background-radius: 5px;
    -fx-border-color:  #1e262c;
    -fx-border-radius: 5px;
}

.profile-game {
    -fx-border-width: 1px;
    -fx-border-color: #00ac41;
}

.profile-game-playing {
    -fx-text-fill: #00ac41;
}

.profile-game-label {
    -fx-font-size: 15px;
    -fx-text-fill: #dd4411;
}

.bar-user-div { -fx-background-color: inherit; }

.menu-item {
    -fx-background-color: rgb(244, 248, 249);
}

.menu-item > * {
    -fx-label-padding: 0 15px 0 0;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.menu-item:hover > * {
    -fx-text-fill: #dd4411;
}

.menu-item > .graphic-container {
    -fx-padding: 0 15px 0 0;
    -fx-background-color: rgb(244, 248, 249);
}

/**
REPUTATION
**/

.add-rep { -fx-text-fill: #00ac41; }
.remove-rep { -fx-text-fill: #dd4441; }